
.body {
    padding: 20px;
    color: var(--wine-cinza-700);
}

.card-empresa {
    background: transparent;
    width: 80%;
    display: flex;
    margin: 0 auto;
}

h1 {
    font-size: 18px;
    color: var(--wine-cinza-600);
}

.divisor {
    display: flex;
    justify-content: center;
    background: transparent;
    margin-top: 40px;
    margin-left: 30px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    margin-right: 5px;
}

.dados {
    align-self: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 5px;
}

button {
    background: transparent;
    border-color: transparent;
    width: 60px;
}

i {
    color: var(--wine-cinza-700);
}

label {
    font-size: 15px;
    font-weight: 600;
}

.dados-empresa {
    background: var(--wine-cinza-50);
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}


.body-cep {
    background: var(--wine-cinza-100);
}

.div-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-row div {
    width: 30%;
    min-width: 150px;
}

.div-row div p {
    color: var(--wine-cinza-600);
}