<div class="body">
    
    <div class="header-usuarios">
      <h1>Categorias</h1>
      <button (click)="add()">
        <i class="bi bi-plus-square-fill"></i>
      </button>
    </div>
    
    <div *ngIf="!listCategorias">
        <hr>
        <p style="font-weight: 600; color: var(--wine-cinza-700);">Cadastre uma categoria.</p>
    </div>
        <div class="row">
          <!-- <table mat-table [dataSource]="listCategorias" class="mat-elevation-z8" style="width: 100%;" *ngIf="listCategorias">

            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
          
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>
        

            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" style="text-align: end;">
                <button class="icon-button" (click)="update(element)"><i class="bi bi-pencil-fill"></i></button>
                <button class="icon-button" (click)="delete(element.id)"><i class="bi bi-trash-fill"></i></button>
              </td>
            </ng-container>
                
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            

          </table> -->







          <table mat-table
          [dataSource]="listCategorias" multiTemplateDataRows
          class="mat-elevation-z8">

      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        <!-- //falta a coluna de editar pai -->
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button class="expand" aria-label="expand row" *ngIf="element.subcategoriaList != undefined && element.subcategoriaList.length > 0"
          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">

            <i class="bi bi-chevron-expand" *ngIf="expandedElement !== element"></i>
            <i class="bi bi-chevron-contract" *ngIf="expandedElement === element"></i>
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
              [@detailExpand]="element == expandedElement && element.subcategoriaList && element.subcategoriaList.length > 0 ? 'expanded' : 'collapsed'">
            
              <p>SubCategorias</p>
              
            <div class="example-element-diagram" *ngFor="let sub of element.subcategoriaList">
              

              <div class="example-element-nome">
                {{ sub.nome }}
                
              </div>

              <div class="">
                <button class="icon-button-sub" (click)="update(sub)"><i class="bi bi-pencil-fill"></i></button>
                <button class="icon-button-sub" (click)="delete(sub.id)"><i class="bi bi-trash-fill"></i></button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

        </div>

        

</div>

